@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&display=swap");

:root{
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --Star-bg: hsl(213, 20%, 22%);
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Overpass", sans-serif;
	font-size: 15px;
	background-color: var(--Very-Dark-Blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 24px;
	min-height: 100vh;
}

ul{
	list-style: none;
}

button{
	font-family: inherit;
}

p{
	line-height: 1.8;
}

.main_container,
.thank_you{
	background-color: var(--Dark-Blue);
	padding: 24px;
	border-radius: 10px;
	max-width: 400px;
}

.main_container img{
	background-color: var(--Star-bg);
	padding: 24px;
	border-radius: 50%;
}

.main_container h1{
	color: var(--White);
	margin: 32px 0 16px;
}

.main_container p{
	color: var(--Light-Grey);
	margin-bottom: 16px;
}

.main_container ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
}

.main_container ul li button{
	height: 48px;
	width: 48px;
	border: none;
	background-color: var(--Star-bg);
	color: var(--White);
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.main_container ul li button:hover{
	background-color: var(--Orange);
}

.main_container ul li button:focus{
	background-color: var(--Light-Grey);
}

.submit_button{
	background-color: var(--Orange);
	color: var(--White);
	width: 100%;
	padding: 12px 0 10px;
	border: none;
	border-radius: 32px;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2x;
}

.submit_button:hover{
	background-color: var(--White);
	color: var(--Orange);
}

.thank_you{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.thank_you img{
	display: block;
	margin: 0 auto 32px;
}

.thank_you p.gray{
	font-size: 14px;
	color: var(--Orange);
	background-color: var(--Star-bg);
	border-radius: 32px;
	padding: 3px 8px 0;
	margin-bottom: 32px;
	font-size: 13px;
}

.thank_you h2{
	color: var(--White);
	margin-bottom: 16px;
}

.thank_you p{
	color: var(--Light-Grey);
	margin-bottom: 32px;
}

.hidden{
	display: none;
}

.attribution{ 
	font-size: 11px; text-align: center; 
}
    .attribution a{ 
    	color: hsl(228, 45%, 44%); 
    }